/* Tip 1 */
.fullQuestion {
    
}

/* Tip 2 */
.tip2 {
    position: relative;
    text-align: center;
    object-fit: scale-down;
}

/* Quotations + Quotation immages */
#with_quotations {
    margin: auto;
    display: none;
    border-color: white;
    position: relative;
}


#no_quotations {
    width: 699;
    height: 482;
    display: none;
    margin: auto;
    position: relative;
}

#NQT {
    background-color: transparent;
    margin: auto;
    color: blueviolet;
    display: block;
    border: 0;
}

#QT {
    background-color: transparent;
    margin: auto;
    color: blueviolet;
    display: block;
    border: 0;
}

/*Main things*/
body {
    font-family: sans-serif;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

/* Dark mode toggle CSS differences */
.body {
    background-color: midnightblue;
    color: white;
}

/* The light mode toggle button */
#LMT {
    position: absolute;
    top: 15px;
    right: 5px;
    color: white;
    background-color: transparent;
    border: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.Yasahiro {
    text-align: left;
    position: sticky;
    font-family: 'Times New Roman', Times, serif;
    
    bottom: 20px;
    font-weight: 900;
}